<!-- TOP BAR -->
<header class="top-bar">
  <!-- If NOT logged in -->
  <div class="top-bar-right">
    <button *ngIf="!isLoggedIn" class="login-button" (click)="toggleLogin()">
      LOGIN
    </button>

    <!-- If logged in -->
    <button *ngIf="isLoggedIn" class="logout-button" (click)="toggleLogin()">
      LOGOUT
    </button>
  </div>

 <div class="top-bar-center">
  <span *ngIf="isLoggedIn" class="user-greeting-inline">
    Hello! {{ displayName }}
  </span>
</div>

 <!-- Right spacer -->
  <div class="top-bar-right"></div>
</header>

<!--PROMPTLE LOGO-->
<div class="logoTitle">
  <img src="PromptleLogoTransparent.png">
</div>


<div class="topic-selection">

  <div class="columns">

    <!-- LEFT -->
    <div class="column">
      <h2>Choose from Popular Topics</h2>

      <mat-form-field appearance="fill" class="topic-field">
        <mat-label>Select a topic</mat-label>
        <mat-select [(value)]="selectedTopic">
          <mat-option *ngFor="let topic of allTopics" [value]="topic">
            {{ topic.topicName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p class="subtext">
        This list will generate a game with no down time
        as it pulls from the MongoDB database
      </p>

      <button matButton="filled"
      [disabled]="!selectedTopic"
      (click)="startGame()">GENERATE</button>
    </div>

    <!-- RIGHT -->
    <div class="column">
      <h2>Create Unique</h2>

      <input
        type="text"
        class="text-input"
        placeholder="Enter any topic (e.g., Marvel, Pop Artists)"
        [(ngModel)]="customTopic"
      >

      <p class="subtext">
        Uses AI to generate a new Promptle on the fly
      </p>

      <button matButton="filled"
      [disabled]="!customTopic.trim()"
      (click)="startAiGame()">GENERATE AI GAME</button>
    </div>

  </div>
</div>
