<div class="promptle-container">
  <h1>{{ topic }} Promptle</h1>

  <!-- Dropdown Input -->
  <div class="guess-input">
    <select [(ngModel)]="selectedGuess">
      <option value="">-- Select a Guess --</option>
      <option *ngFor="let answer of answers" [value]="answer.name">
        {{ answer.name }}
      </option>
    </select>
    <button (click)="onSubmitGuess()" [disabled]="!selectedGuess">
      Submit Guess
    </button>
  </div>

  <!-- Headers Row -->
  <div class="headers">
    <div class="header" *ngFor="let header of headers">
      {{ header }}
    </div>
  </div>

  <!-- Guess Results -->
  <div class="guesses">
    <div *ngIf="submittedGuesses.length === 0">
      <p>No guesses yet...</p>
    </div>

    <div class="guess-row" *ngFor="let guess of submittedGuesses">
      <div class="guess-cell" *ngFor="let value of guess.values">
        {{ value }}
      </div>
    </div>
  </div>

</div>